.DS_Store
*.DS_Store
package-lock.json
yarn.lock
javascript/node_modules/*
java/build/*
java/dist/*
java/out
java/nohup.out
java/.idea
java/.classpath
java/.project
build/*
dist/*
*.iml
.vscode/*
*.ini
nohup.out
*.tar
*.zip
*.log
.sass-cache
